# SOME DESCRIPTIVE TITLE.
# Copyright (C) The kernel development community
# This file is distributed under the same license as the The Linux Kernel package.
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
#, fuzzy
msgid ""
msgstr ""
"Project-Id-Version: The Linux Kernel 6\n"
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2025-09-30 08:40+0000\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: FULL NAME <EMAIL@ADDRESS>\n"
"Language-Team: LANGUAGE <LL@li.org>\n"
"Language: zh_TW\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:6
msgid "Enabling the driver and kconfig options"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:0
msgid "Copyright"
msgstr "著作權"

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:8
msgid "|copy| 2023, NVIDIA CORPORATION & AFFILIATES. All rights reserved."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:10
msgid ""
"mlx5 core is modular and most of the major mlx5 core driver features can be "
"selected (compiled in/out)"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:11
msgid "at build time via kernel Kconfig flags."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:12
msgid ""
"Basic features, ethernet net device rx/tx offloads and XDP, are available "
"with the most basic flags"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:13
msgid "CONFIG_MLX5_CORE=y/m and CONFIG_MLX5_CORE_EN=y."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:14
msgid "For the list of advanced features, please see below."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:16
msgid "**CONFIG_MLX5_BRIDGE=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:18
msgid ""
"Enable :ref:`Ethernet Bridging (BRIDGE) offloading support "
"<mlx5_bridge_offload>`."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:19
msgid "This will provide the ability to add representors of mlx5 uplink and VF"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:20
msgid "ports to Bridge and offloading rules for traffic between such ports."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:21
msgid "Supports VLANs (trunk and access modes)."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:24
msgid "**CONFIG_MLX5_CORE=(y/m/n)** (module mlx5_core.ko)"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:26
msgid ""
"The driver can be enabled by choosing CONFIG_MLX5_CORE=y/m in kernel config."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:27
msgid ""
"This will provide mlx5 core driver for mlx5 ulps to interface with (mlx5e, "
"mlx5_ib)."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:30
msgid "**CONFIG_MLX5_CORE_EN=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:32
msgid ""
"Choosing this option will allow basic ethernet netdevice support with all of "
"the standard rx/tx offloads."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:33
msgid ""
"mlx5e is the mlx5 ulp driver which provides netdevice kernel interface, when "
"chosen, mlx5e will be"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:34
msgid "built-in into mlx5_core.ko."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:37
msgid "**CONFIG_MLX5_CORE_EN_DCB=(y/n)**:"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:39
msgid ""
"Enables `Data Center Bridging (DCB) Support <https://enterprise-support."
"nvidia.com/s/article/howto-auto-config-pfc-and-ets-on-connectx-4-via-lldp-"
"dcbx>`_."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:42
msgid "**CONFIG_MLX5_CORE_IPOIB=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:44
msgid "IPoIB offloads & acceleration support."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:45
msgid ""
"Requires CONFIG_MLX5_CORE_EN to provide an accelerated interface for the rdma"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:46
msgid "IPoIB ulp netdevice."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:49
msgid "**CONFIG_MLX5_CLS_ACT=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:51
msgid "Enables offload support for TC classifier action (NET_CLS_ACT)."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:52
msgid "Works in both native NIC mode and Switchdev SRIOV mode."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:53
msgid "Flow-based classifiers, such as those registered through"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:54
msgid "`tc-flower(8)`, are processed by the device, rather than the"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:55
msgid "host. Actions that would then overwrite matching classification"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:56
msgid "results would then be instant due to the offload."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:59
msgid "**CONFIG_MLX5_EN_ARFS=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:61
msgid ""
"Enables Hardware-accelerated receive flow steering (arfs) support, and "
"ntuple filtering."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:62
msgid ""
"https://enterprise-support.nvidia.com/s/article/howto-configure-arfs-on-"
"connectx-4"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:65
msgid "**CONFIG_MLX5_EN_IPSEC=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:67
msgid ""
"Enables :ref:`IPSec XFRM cryptography-offload acceleration <xfrm_device>`."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:70
msgid "**CONFIG_MLX5_MACSEC=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:72
msgid "Build support for MACsec cryptography-offload acceleration in the NIC."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:75
msgid "**CONFIG_MLX5_EN_RXNFC=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:77
msgid ""
"Enables ethtool receive network flow classification, which allows user "
"defined"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:78
msgid ""
"flow rules to direct traffic into arbitrary rx queue via ethtool set/"
"get_rxnfc API."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:81
msgid "**CONFIG_MLX5_EN_TLS=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:83
msgid "TLS cryptography-offload acceleration."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:86
msgid "**CONFIG_MLX5_ESWITCH=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:88
msgid ""
"Ethernet SRIOV E-Switch support in ConnectX NIC. E-Switch provides internal "
"SRIOV packet steering"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:89
msgid "and switching for the enabled VFs and PF in two available modes:"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:90
msgid ""
"1) `Legacy SRIOV mode (L2 mac vlan steering based) <https://enterprise-"
"support.nvidia.com/s/article/HowTo-Configure-SR-IOV-for-ConnectX-4-"
"ConnectX-5-ConnectX-6-with-KVM-Ethernet>`_."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:91
msgid "2) :ref:`Switchdev mode (eswitch offloads) <switchdev>`."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:94
msgid "**CONFIG_MLX5_FPGA=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:96
msgid ""
"Build support for the Innova family of network cards by Mellanox "
"Technologies."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:97
msgid ""
"Innova network cards are comprised of a ConnectX chip and an FPGA chip on "
"one board."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:98
msgid ""
"If you select this option, the mlx5_core driver will include the Innova FPGA "
"core and allow"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:99
msgid "building sandbox-specific client drivers."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:102
msgid "**CONFIG_MLX5_INFINIBAND=(y/n/m)** (module mlx5_ib.ko)"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:104
msgid ""
"Provides low-level InfiniBand/RDMA and `RoCE <https://enterprise-support."
"nvidia.com/s/article/recommended-network-configuration-examples-for-roce-"
"deployment>`_ support."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:107
msgid "**CONFIG_MLX5_MPFS=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:109
msgid "Ethernet Multi-Physical Function Switch (MPFS) support in ConnectX NIC."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:110
msgid ""
"MPFs is required for when `Multi-Host <https://www.nvidia.com/en-us/"
"networking/multi-host/>`_ configuration is enabled to allow passing"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:111
msgid "user configured unicast MAC addresses to the requesting PF."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:114
msgid "**CONFIG_MLX5_SF=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:116
msgid "Build support for subfunction."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:117
msgid ""
"Subfunctons are more light weight than PCI SRIOV VFs. Choosing this option"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:118
msgid "will enable support for creating subfunction devices."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:121
msgid "**CONFIG_MLX5_SF_MANAGER=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:123
msgid "Build support for subfuction port in the NIC. A Mellanox subfunction"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:124
msgid ""
"port is managed through devlink.  A subfunction supports RDMA, netdevice"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:125
msgid "and vdpa device. It is similar to a SRIOV VF but it doesn't require"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:126
msgid "SRIOV support."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:129
msgid "**CONFIG_MLX5_SW_STEERING=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:131
msgid "Build support for software-managed steering in the NIC."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:133
msgid "**CONFIG_MLX5_HW_STEERING=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:135
msgid "Build support for hardware-managed steering in the NIC."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:137
msgid "**CONFIG_MLX5_TC_CT=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:139
msgid "Support offloading connection tracking rules via tc ct action."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:142
msgid "**CONFIG_MLX5_TC_SAMPLE=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:144
msgid "Support offloading sample rules via tc sample action."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:147
msgid "**CONFIG_MLX5_VDPA=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:149
msgid "Support library for Mellanox VDPA drivers. Provides code that is"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:150
msgid ""
"common for all types of VDPA drivers. The following drivers are planned:"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:151
msgid "net, block."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:154
msgid "**CONFIG_MLX5_VDPA_NET=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:156
msgid "VDPA network driver for ConnectX6 and newer. Provides offloading"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:157
msgid "of virtio net datapath such that descriptors put on the ring will"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:158
msgid "be executed by the hardware. It also supports a variety of stateless"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:159
msgid "offloads depending on the actual device used and firmware version."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:162
msgid "**CONFIG_MLX5_VFIO_PCI=(y/n)**"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:164
msgid ""
"This provides migration support for MLX5 devices using the VFIO framework."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:167
msgid ""
"**External options** ( Choose if the corresponding mlx5 feature is required )"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:169
msgid ""
"CONFIG_MLXFW: When chosen, mlx5 firmware flashing support will be enabled "
"(via devlink and ethtool)."
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:170
msgid "CONFIG_PTP_1588_CLOCK: When chosen, mlx5 ptp support will be enabled"
msgstr ""

#: ../../../networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst:171
msgid "CONFIG_VXLAN: When chosen, mlx5 vxlan support will be enabled."
msgstr ""
