# SOME DESCRIPTIVE TITLE.
# Copyright (C) The kernel development community
# This file is distributed under the same license as the The Linux Kernel package.
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
#, fuzzy
msgid ""
msgstr ""
"Project-Id-Version: The Linux Kernel 6\n"
"Report-Msgid-Bugs-To: \n"
"POT-Creation-Date: 2025-09-30 08:40+0000\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: FULL NAME <EMAIL@ADDRESS>\n"
"Language-Team: LANGUAGE <LL@li.org>\n"
"Language: \n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=UTF-8\n"
"Content-Transfer-Encoding: 8bit\n"

#: ../../../kbuild/kconfig.rst:3
msgid "Configuration targets and editors"
msgstr ""

#: ../../../kbuild/kconfig.rst:5
msgid "This file contains some assistance for using ``make *config``."
msgstr ""

#: ../../../kbuild/kconfig.rst:7
msgid "Use ``make help`` to list all of the possible configuration targets."
msgstr ""

#: ../../../kbuild/kconfig.rst:9
msgid ""
"The xconfig ('qconf'), menuconfig ('mconf'), and nconfig ('nconf') programs "
"also have embedded help text.  Be sure to check that for navigation, search, "
"and other general help text."
msgstr ""

#: ../../../kbuild/kconfig.rst:13
msgid "The gconfig ('gconf') program has limited help text."
msgstr ""

#: ../../../kbuild/kconfig.rst:17
msgid "General"
msgstr ""

#: ../../../kbuild/kconfig.rst:19
msgid ""
"New kernel releases often introduce new config symbols.  Often more "
"important, new kernel releases may rename config symbols.  When this "
"happens, using a previously working .config file and running \"make "
"oldconfig\" won't necessarily produce a working new kernel for you, so you "
"may find that you need to see what NEW kernel symbols have been introduced."
msgstr ""

#: ../../../kbuild/kconfig.rst:26
msgid "To see a list of new config symbols, use::"
msgstr ""

#: ../../../kbuild/kconfig.rst:31
msgid "and the config program will list any new symbols, one per line."
msgstr ""

#: ../../../kbuild/kconfig.rst:33
msgid "Alternatively, you can use the brute force method::"
msgstr ""

#: ../../../kbuild/kconfig.rst:40
msgid "Environment variables"
msgstr ""

#: ../../../kbuild/kconfig.rst:42
msgid "Environment variables for ``*config``:"
msgstr ""

#: ../../../kbuild/kconfig.rst:44
msgid "``KCONFIG_CONFIG``"
msgstr ""

#: ../../../kbuild/kconfig.rst:45
msgid ""
"This environment variable can be used to specify a default kernel config "
"file name to override the default name of \".config\"."
msgstr ""

#: ../../../kbuild/kconfig.rst:48
msgid "``KCONFIG_DEFCONFIG_LIST``"
msgstr ""

#: ../../../kbuild/kconfig.rst:49
msgid ""
"This environment variable specifies a list of config files which can be used "
"as a base configuration in case the .config does not exist yet. Entries in "
"the list are separated with whitespaces to each other, and the first one "
"that exists is used."
msgstr ""

#: ../../../kbuild/kconfig.rst:54
msgid "``KCONFIG_OVERWRITECONFIG``"
msgstr ""

#: ../../../kbuild/kconfig.rst:55
msgid ""
"If you set KCONFIG_OVERWRITECONFIG in the environment, Kconfig will not "
"break symlinks when .config is a symlink to somewhere else."
msgstr ""

#: ../../../kbuild/kconfig.rst:58
msgid "``KCONFIG_WARN_UNKNOWN_SYMBOLS``"
msgstr ""

#: ../../../kbuild/kconfig.rst:59
msgid ""
"This environment variable makes Kconfig warn about all unrecognized symbols "
"in the config input."
msgstr ""

#: ../../../kbuild/kconfig.rst:62
msgid "``KCONFIG_WERROR``"
msgstr ""

#: ../../../kbuild/kconfig.rst:63
msgid "If set, Kconfig treats warnings as errors."
msgstr ""

#: ../../../kbuild/kconfig.rst:65
msgid "``CONFIG_``"
msgstr ""

#: ../../../kbuild/kconfig.rst:66
msgid ""
"If you set ``CONFIG_`` in the environment, Kconfig will prefix all symbols "
"with its value when saving the configuration, instead of using the default, "
"``CONFIG_``."
msgstr ""

#: ../../../kbuild/kconfig.rst:70
msgid "Environment variables for ``{allyes/allmod/allno/alldef/rand}config``:"
msgstr ""

#: ../../../kbuild/kconfig.rst:72
msgid "``KCONFIG_ALLCONFIG``"
msgstr ""

#: ../../../kbuild/kconfig.rst:73
msgid ""
"The allyesconfig/allmodconfig/alldefconfig/allnoconfig/randconfig variants "
"can also use the environment variable KCONFIG_ALLCONFIG as a flag or a "
"filename that contains config symbols that the user requires to be set to a "
"specific value.  If KCONFIG_ALLCONFIG is used without a filename where "
"KCONFIG_ALLCONFIG == \"\" or KCONFIG_ALLCONFIG == \"1\", ``make *config`` "
"checks for a file named \"all{yes/mod/no/def/random}.config\" (corresponding "
"to the ``*config`` command that was used) for symbol values that are to be "
"forced.  If this file is not found, it checks for a file named \"all."
"config\" to contain forced values."
msgstr ""

#: ../../../kbuild/kconfig.rst:83
msgid ""
"This enables you to create \"miniature\" config (miniconfig) or custom "
"config files containing just the config symbols that you are interested in.  "
"Then the kernel config system generates the full .config file, including "
"symbols of your miniconfig file."
msgstr ""

#: ../../../kbuild/kconfig.rst:88
msgid ""
"This ``KCONFIG_ALLCONFIG`` file is a config file which contains (usually a "
"subset of all) preset config symbols.  These variable settings are still "
"subject to normal dependency checks."
msgstr ""

#: ../../../kbuild/kconfig.rst:92 ../../../kbuild/kconfig.rst:135
msgid "Examples::"
msgstr ""

#: ../../../kbuild/kconfig.rst:96 ../../../kbuild/kconfig.rst:100
#: ../../../kbuild/kconfig.rst:278
msgid "or::"
msgstr ""

#: ../../../kbuild/kconfig.rst:104
msgid ""
"These examples will disable most options (allnoconfig) but enable or disable "
"the options that are explicitly listed in the specified mini-config files."
msgstr ""

#: ../../../kbuild/kconfig.rst:108
msgid "Environment variables for ``randconfig``:"
msgstr ""

#: ../../../kbuild/kconfig.rst:110
msgid "``KCONFIG_SEED``"
msgstr ""

#: ../../../kbuild/kconfig.rst:111
msgid ""
"You can set this to the integer value used to seed the RNG, if you want to "
"somehow debug the behaviour of the kconfig parser/frontends. If not set, the "
"current time will be used."
msgstr ""

#: ../../../kbuild/kconfig.rst:115
msgid "``KCONFIG_PROBABILITY``"
msgstr ""

#: ../../../kbuild/kconfig.rst:116
msgid ""
"This variable can be used to skew the probabilities. This variable can be "
"unset or empty, or set to three different formats:"
msgstr ""

#: ../../../kbuild/kconfig.rst:120
msgid "KCONFIG_PROBABILITY"
msgstr ""

#: ../../../kbuild/kconfig.rst:120
msgid "y:n split"
msgstr ""

#: ../../../kbuild/kconfig.rst:120
msgid "y:m:n split"
msgstr ""

#: ../../../kbuild/kconfig.rst:122
msgid "unset or empty"
msgstr ""

#: ../../../kbuild/kconfig.rst:122
msgid "50  : 50"
msgstr ""

#: ../../../kbuild/kconfig.rst:122
msgid "33  : 33  : 34"
msgstr ""

#: ../../../kbuild/kconfig.rst:123
msgid "N"
msgstr ""

#: ../../../kbuild/kconfig.rst:123 ../../../kbuild/kconfig.rst:125
msgid "N  : 100-N"
msgstr ""

#: ../../../kbuild/kconfig.rst:123
msgid "N/2 : N/2 : 100-N"
msgstr ""

#: ../../../kbuild/kconfig.rst:124
msgid "[1] N:M"
msgstr ""

#: ../../../kbuild/kconfig.rst:124
msgid "N+M : 100-(N+M)"
msgstr ""

#: ../../../kbuild/kconfig.rst:124
msgid "N  :  M  : 100-(N+M)"
msgstr ""

#: ../../../kbuild/kconfig.rst:125
msgid "[2] N:M:L"
msgstr ""

#: ../../../kbuild/kconfig.rst:125
msgid "M  :  L  : 100-(M+L)"
msgstr ""

#: ../../../kbuild/kconfig.rst:128
msgid ""
"where N, M and L are integers (in base 10) in the range [0,100], and so that:"
msgstr ""

#: ../../../kbuild/kconfig.rst:131
msgid "[1] N+M is in the range [0,100]"
msgstr ""

#: ../../../kbuild/kconfig.rst:133
msgid "[2] M+L is in the range [0,100]"
msgstr ""

#: ../../../kbuild/kconfig.rst:147
msgid "Environment variables for ``syncconfig``:"
msgstr ""

#: ../../../kbuild/kconfig.rst:149
msgid "``KCONFIG_NOSILENTUPDATE``"
msgstr ""

#: ../../../kbuild/kconfig.rst:150
msgid ""
"If this variable has a non-blank value, it prevents silent kernel config "
"updates (requires explicit updates)."
msgstr ""

#: ../../../kbuild/kconfig.rst:153
msgid "``KCONFIG_AUTOCONFIG``"
msgstr ""

#: ../../../kbuild/kconfig.rst:154
msgid ""
"This environment variable can be set to specify the path & name of the "
"\"auto.conf\" file.  Its default value is \"include/config/auto.conf\"."
msgstr ""

#: ../../../kbuild/kconfig.rst:157
msgid "``KCONFIG_AUTOHEADER``"
msgstr ""

#: ../../../kbuild/kconfig.rst:158
msgid ""
"This environment variable can be set to specify the path & name of the "
"\"autoconf.h\" (header) file. Its default value is \"include/generated/"
"autoconf.h\"."
msgstr ""

#: ../../../kbuild/kconfig.rst:164
msgid "menuconfig"
msgstr ""

#: ../../../kbuild/kconfig.rst:166
msgid "Searching in menuconfig:"
msgstr ""

#: ../../../kbuild/kconfig.rst:168 ../../../kbuild/kconfig.rst:270
msgid ""
"The Search function searches for kernel configuration symbol names, so you "
"have to know something close to what you are looking for."
msgstr ""

#: ../../../kbuild/kconfig.rst:172 ../../../kbuild/kconfig.rst:222
#: ../../../kbuild/kconfig.rst:260 ../../../kbuild/kconfig.rst:274
msgid "Example::"
msgstr ""

#: ../../../kbuild/kconfig.rst:178
msgid ""
"For search help, enter / followed by TAB-TAB (to highlight <Help>) and "
"Enter.  This will tell you that you can also use regular expressions "
"(regexes) in the search string, so if you are not interested in "
"MEMORY_HOTPLUG, you could try::"
msgstr ""

#: ../../../kbuild/kconfig.rst:185
msgid "When searching, symbols are sorted thus:"
msgstr ""

#: ../../../kbuild/kconfig.rst:187
msgid ""
"first, exact matches, sorted alphabetically (an exact match is when the "
"search matches the complete symbol name);"
msgstr ""

#: ../../../kbuild/kconfig.rst:189
msgid "then, other matches, sorted alphabetically."
msgstr ""

#: ../../../kbuild/kconfig.rst:191
msgid "For example, ^ATH.K matches:"
msgstr ""

#: ../../../kbuild/kconfig.rst:193
msgid ""
"ATH5K ATH9K ATH5K_AHB ATH5K_DEBUG [...] ATH6KL ATH6KL_DEBUG [...] ATH9K_AHB "
"ATH9K_BTCOEX_SUPPORT ATH9K_COMMON [...]"
msgstr ""

#: ../../../kbuild/kconfig.rst:196
msgid ""
"of which only ATH5K and ATH9K match exactly and so are sorted first (and in "
"alphabetical order), then come all other symbols, sorted in alphabetical "
"order."
msgstr ""

#: ../../../kbuild/kconfig.rst:200
msgid ""
"In this menu, pressing the key in the (#) prefix will jump directly to that "
"location. You will be returned to the current search results after exiting "
"this new menu."
msgstr ""

#: ../../../kbuild/kconfig.rst:204
msgid "User interface options for 'menuconfig':"
msgstr ""

#: ../../../kbuild/kconfig.rst:206
msgid "``MENUCONFIG_COLOR``"
msgstr ""

#: ../../../kbuild/kconfig.rst:207
msgid ""
"It is possible to select different color themes using the variable "
"MENUCONFIG_COLOR.  To select a theme use::"
msgstr ""

#: ../../../kbuild/kconfig.rst:212
msgid "Available themes are::"
msgstr ""

#: ../../../kbuild/kconfig.rst:219
msgid "``MENUCONFIG_MODE``"
msgstr ""

#: ../../../kbuild/kconfig.rst:220 ../../../kbuild/kconfig.rst:258
msgid "This mode shows all sub-menus in one large tree."
msgstr ""

#: ../../../kbuild/kconfig.rst:228
msgid "nconfig"
msgstr ""

#: ../../../kbuild/kconfig.rst:230
msgid ""
"nconfig is an alternate text-based configurator.  It lists function keys "
"across the bottom of the terminal (window) that execute commands. You can "
"also just use the corresponding numeric key to execute the commands unless "
"you are in a data entry window.  E.g., instead of F6 for Save, you can just "
"press 6."
msgstr ""

#: ../../../kbuild/kconfig.rst:236
msgid "Use F1 for Global help or F3 for the Short help menu."
msgstr ""

#: ../../../kbuild/kconfig.rst:238
msgid "Searching in nconfig:"
msgstr ""

#: ../../../kbuild/kconfig.rst:240
msgid ""
"You can search either in the menu entry \"prompt\" strings or in the "
"configuration symbols."
msgstr ""

#: ../../../kbuild/kconfig.rst:243
msgid ""
"Use / to begin a search through the menu entries.  This does not support "
"regular expressions.  Use <Down> or <Up> for Next hit and Previous hit, "
"respectively.  Use <Esc> to terminate the search mode."
msgstr ""

#: ../../../kbuild/kconfig.rst:248
msgid ""
"F8 (SymSearch) searches the configuration symbols for the given string or "
"regular expression (regex)."
msgstr ""

#: ../../../kbuild/kconfig.rst:251
msgid ""
"In the SymSearch, pressing the key in the (#) prefix will jump directly to "
"that location. You will be returned to the current search results after "
"exiting this new menu."
msgstr ""

#: ../../../kbuild/kconfig.rst:255
msgid "Environment variables:"
msgstr ""

#: ../../../kbuild/kconfig.rst:257
msgid "``NCONFIG_MODE``"
msgstr ""

#: ../../../kbuild/kconfig.rst:266
msgid "xconfig"
msgstr ""

#: ../../../kbuild/kconfig.rst:268
msgid "Searching in xconfig:"
msgstr ""

#: ../../../kbuild/kconfig.rst:282
msgid ""
"lists all config symbol entries that contain \"hotplug\" in the symbol "
"name.  In this Search dialog, you may change the config setting for any of "
"the entries that are not grayed out. You can also enter a different search "
"string without having to return to the main menu."
msgstr ""

#: ../../../kbuild/kconfig.rst:290
msgid "gconfig"
msgstr ""

#: ../../../kbuild/kconfig.rst:292
msgid "Searching in gconfig:"
msgstr ""

#: ../../../kbuild/kconfig.rst:294
msgid ""
"There is no search command in gconfig.  However, gconfig does have several "
"different viewing choices, modes, and options."
msgstr ""
